/* 17px blaue Überschrift */ 
.h1{

    font-weight: bold; 		/*Überschriften fett */
    color: #0498b7;             /*Farbe der ï¿½berschrift blau*/
    text-aligin: center; 	/*ï¿½berschriften zentreiren*/
    font-family: Verdana;
    font-size: 17px; 		/* Schriftgröße */ 
    margin-top: 10px; 		/* Abstand oben */  
    margin-bottom: 5px; 	/* Abstand unten */ 
    margin-left: 2px;		/* Abstand links */ 
}

/* 16px blaue Überschrift mit 10px Abstand nach oben und 5px Abstand nach unten. */ 
.h2{
	font-weight: bold; 		/*Überschriften fett */
    color: #0498b7;             /*Farbe der ï¿½berschrift blau*/
    text-aligin: center; 	/*ï¿½berschriften zentreiren*/
    font-family: Verdana;
    font-size: 16px; 		/* Schriftröße */ 
    margin-top: 10px; 		/* Abstand oben */ 
    margin-bottom: 5px; 	/* Abstand unten */ 
    margin-left: 2px;		/* Abstand links */ 
}

.h2_margin-top{
	font-weight: bold; 		/*Überschriften fett */
    color: #0498b7;             /*Farbe der ï¿½berschrift blau*/
    text-aligin: center; 	/*ï¿½berschriften zentreiren*/
    font-family: Verdana;
    font-size: 16px; 		/* Schriftröße */ 
    margin-top: 28px; 		/* Abstand oben */ 
    margin-bottom: 5px; 	/* Abstand unten */ 
}

/* CSS CELL KLASSEN   CSS CELL KLASSEN   CSS CELL KLASSEN   CSS CELL KLASSEN   CSS CELL KLASSEN */
/* CSS CELL KLASSEN   CSS CELL KLASSEN   CSS CELL KLASSEN   CSS CELL KLASSEN   CSS CELL KLASSEN */

.ProjektMarktplatz-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    color: #000000; 
    font-size: 20px;
    width: 550px; 
    background-color: #ffffff; 
}

.ProjektMarktplatz-Cell:hover{
	color: #008CBA; 
}



.Eigenschaft-Cell{
	font-weight: normal;	
    font-family: Verdana;
    font-color: #008CBA; 
    font-size: 16px; 
    margin-right: 28px; 
    min-width: 150px;
    max-width:450px; 
}

.Ausschreibung-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    font-color: #008CBA; 
    font-size: 16px; 
    margin-right: 28px; 
    min-width: 150px;
    max-width:450px; 
}

.Partnerprofil-Cell{
	font-weight: normal; 		
    font-family: Verdana;
    font-color: #008CBA; 
    font-size: 16px; 
    margin-right: 28px; 
    margin-top: 7px; 
    min-width: 150px;
    max-width:450px;  
}

.Projekt-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    font-color: #008CBA; 
    font-size: 18px; 
    margin-right: 28px; 
    min-width: 150px;
    max-width:450px; 
}

.Projektleiter-Cell{
	font-weight: normal; 		
    font-family: Verdana;
    font-color: #008CBA; 
    font-size: 18px; 
    margin-right: 28px;
    min-width: 150px;
    max-width:450px;  
}

.Beteiligung-Cell{
	font-weight: normal; 		
    font-family: Verdana;
    font-color: #008CBA; 
    font-size: 12px; 
    margin-right: 5px;
    min-width: 50px;
    max-width: 350px;  
}


/* TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT  */ 
/* TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT  */ 

.myprojekt-headline{
    font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    color: blue;             /*Farbe der ï¿½berschrift blau*/
    text-aligin: center; 	/*ï¿½berschriften zentreiren*/

	font-weight: bold; 		/*ï¿½berschriften fett */ 
	color: blue;             /*Farbe der ï¿½berschrift blau*/
	text-aligin: center; 	/*ï¿½berschriften zentreiren*/ 
}

.myprojekt-headline{
	font-weight: bold; 		/*ï¿½berschriften fett */ 
	font-family: Verdana;
	color: blue;             /*Farbe der ï¿½berschrift blau*/
	text-aligin: center; 	/*ï¿½berschriften zentreiren*/ 
}

.loginHeader{
	font-weight: bold; 		/*ï¿½berschriften fett */ 
	font-family: Verdana;
	color: blue;             /*Farbe der ï¿½berschrift blau*/
	text-aligin: center; 	/*ï¿½berschriften zentreiren*/ 

}

.myprojekt-simpletext{
	font-family: Verdana;
}

/* TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD */ 
/* TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD TEXTFELD */ 

/* Syle für Textfelder, die beim anklicken blau hinterlehgt und 100px breiter werden */ 
.myproject-textfield{
	font-family: Verdana;
	color: #404040; 				/* Schriftfarbe */ 
	display: inline-block; 
	width: 250px; 				/* Breite */ 
	padding: 5px 8px;			
    margin: 2px 0;				/* Abstand */ 
    box-sizing: border-box; 
    transition: width 0.4s ease-in-out; 
    
}

.myproject-textfield:focus {
    background-color: lightblue;
    border: 3px solid #555;
    width: 252px; 
}

/* Textfeld, dass beim anklicken blau hinterlegt aber nicht breiter wird. */ 
.myproject-anlegentextfield{
	font-family: Verdana;
	color: #404040; 
	display: inline-block; 
	width: 250px; 
	padding: 5px 8px;
    margin: 2px 0;
    margin-right: 5px; 
    box-sizing: border-box; 
    transition: width 0.4s ease-in-out; 
}

.myproject-anlegentextfield:focus {
    background-color: lightblue;
    border: 3px solid #555;
    
}

/* TextArea die beim Anklicken nach rechts und unten ausfährt. */ 
.myprojekt-textarea{
	font-family: Verdana;
	color: #404040; 
	display: inline-block; 
	width: 250px; 
	height: 160px;
	padding: 5px 8px;
    margin: 2px 0;
    box-sizing: border-box;
    resize: vertical;
    overflow: auto;
    transition: height 0.4s ease-in-out;
    -webkit-transition: heigt 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
   

	}
	
	/* Beim klicken in die TextArea */ 
.myprojekt-textarea:focus {
    background-color: lightblue;
    border: 3px solid #555;
    height: 162px;
    width: 252px; 
     
}


/* Panels Panels Panels Panels Panels Panels Panels Panels Panels Panels Panels Panels Panels */ 
/* Panels Panels Panels Panels Panels Panels Panels Panels Panels Panels Panels Panels Panels */ 

.myprojekt-horizontalpanel{
	padding: 6px 1px; 
}

/* Style für ButtonPanels. */ 
.myprojekt-buttonspanel{
	padding: 20px 2px; 
	display: inline-block; 
	
}


/* BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS */ 
/* BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS BUTTONS */ 


.myprojekt-button{
    font-family: Verdana;
    background-color: #008CBA;	/* Hingtergrundfarbe des Buttons */ 
    border: none;
    border-radius: 2px;		/* Abgerndete Ecken */ 
    color: white;			/* Schriftfarbe */ 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}

.myprojekt-button:active {
    position: relative;
    top: 2px;		/* Bewegung des Buttons beim Klicken */ 
}

.myprojekt-button:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
    font-size:25px; 
}


/* Style der Buttons in der Menüleiste (große Buttons). */ 
.myprojekt-menubutton{
    font-family: Verdana;
    background-color: #008CBA;
    border: none;
    /* border-radius: 2px; */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-right:2px;


}

.myprojekt-menubutton:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
}

.myprojekt-menubutton:active{
    position: relative;
    top: 2px;
}

.myprojekt-reportmenubutton{
    font-family: Verdana;
    background-color: #008CBA;
    border: none;
    /* border-radius: 2px; */
    color: #c0c0c0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-right:2px;


}

.myprojekt-reportmenubutton:active{
    position: relative;
    top: 2px;
}



.myprojekt-reportmenubutton:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
}

/* Style des Login Buttons */ 
.myprojekt-loginbutton{
	font-family: Verdana;
    background-color: #008000;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.myprojekt-loginbutton:active{
    position: relative;
    top: 2px;
}

.myprojekt-loginbutton:hover{
    background-color: #00ff40; /* grün */
    color: white;
    
}



/* Style des LogoutButtons. */ 
.myprojekt-abmeldebutton{
	font-family: Verdana;
    background-color: #008CBA;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 200px; 
 	
}

.myprojekt-abmeldebutton:active{
    position: relative;
    top: 2px;
  
}

.myprojekt-abmeldebutton:hover{
    background-color: #0A4766; /* blau */
    color: white;
     
}

/* Style der Buttons die unter Fromularen verwendet werden. */ 
.myprojekt-formbutton{
	font-family: Verdana;
    background-color: #008CBA ;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 10px; 
    display: inline-block;
    font-size: 12px;
    border-radius: 2px; 
    margin-right:2px;
}

.myprojekt-formbutton:active{
    position: relative;
    top: 1px;
}

.myprojekt-formbutton:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
}

/* Style der Buttons die im Report Generator verwendet werden (breit). */ 
.myprojekt-reportbutton{
	font-family: Verdana;
    background-color: #008CBA ;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px 10px; 
    display: inline-block;
    font-size: 12px;
    border-radius: 2px; 
    margin-right:2px;
    margin-bottom: 3px; 
    width: 180px; 
}

.myprojekt-reportbutton:active{
    position: relative;
    top: 1px;
}

.myprojekt-reportbutton:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
}

.myprojekt-switchreportbutton{
	font-family: Verdana;
    background-color: #008CBA ;
    color: #c0c0c0;
    border: none;
    border-radius: 2px;
    padding: 8px 10px; 
    display: inline-block;
    font-size: 12px;
    border-radius: 2px; 
    margin-right:2px;
    margin-bottom: 3px; 
    width: 180px; 
}

.myprojekt-switchreportbutton:active{
    position: relative;
    top: 1px;
}

.myprojekt-switchreportbutton:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
}

/* LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL  */ 
/* LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL LABEL  */ 

.myprojekt-greeting{
	font-family: Verdana;
	color: #004080;
	display: center; 
	font-size: 18px; 
	margin: 6px; 
	margin-left: 40px; 
	margin-right: 40px; 
}

.myprojekt-label{
	font-family: Verdana;
}

/* Lables die in Formularen verwendet werden. */ 
.myprojekt-formlabel{
	font-family: Verdana;
	color: #004080;
	display: center; 
	margin-left: 5px; 
	
}

.myprojekt-ListBox {
	font-family: Verdana;
	font-size: 15px; 
	
	
}

/* Labeles in Formularen die nicht manuel Setzbar sind. */ 
.myprojekt-formlabel2{
	font-family: Verdana;
	color: grey; 
}

/* Infotext in oparnerprofil */ 
.myprojekt-opartnerprofil{
	font-family: Verdana;
	color: #004080;
	margin-right: 20px;
	margin-bottom: 5px;  
	font-size: 17px; 
	
}

/* Sie befinden sich im Parktplatz.... */ 
.myprojekt-infoleistelabel{
	font-family: Verdana;
	color: #0498b7;  
	font-size: 15px; 
	margin-right: 2px; 
}

.myprojekt-infoleistelabelbold{
	font-family: Verdana;
	font-weight: bold;
	color: #0498b7;  
	font-size: 15px; 
	margin-right: 2px; 
}

.myprojekt-bezichungmarktplatzlabel{
	font-family: Verdana;
	color: #004080;
	display: center; 
	margin-right: 5px; 
	margin-left: 5px; 
	font-size: 16px; 

}

.myprojekt-loginlabel{
	font-family: Verdana;
	margin-left: 22px; 
	font-size: 16px; 
	color: #0498b7;             /*Farbe der ï¿½berschrift blau*/
    text-aligin: center; 		/*ï¿½berschriften zentreiren*/
}


/* Nachfolgenes CSS auf Verwendung prüfen */ 
 
div#main {
    margin: 10px;
    border: 1px dashed #000;
    width: auto;
}

div#header {
    margin: 5px;
    border: 1px dashed #000;
    height: 60px;
}
div#header img {
    float: left;
    height: 60px;
}
div#header p {
    float: left;
    margin-top: 12px;
    margin-right: 12px;
    align: right;
}
div#menu {
    margin: 5px;
    border: 1px dashed #000;
}
div#pminfo {
    margin: 5px;
    border: 1px dashed #000;
}
div#content {
    margin: 5px;
    border: 1px dashed #000;
}
div#footer {
    margin: 5px;
    padding: 10px;
    border: 1px dashed #000;
}

.sitename{
    padding: 5px;
    float: left;    /* nach links rï¿½cken  */
    width: 5%;     /* 5% der Breite nutzen */
    margin-left: auto;
    margin-right: auto;
    display: flex;

    background-color: #bfeeb3;
    padding: 5px 20px 5px 20px;
    font-size: larger;
}


.menue{
    padding: 2px;
    float: left;    /* nach links rï¿½cken  */
    width: 30%;     /* 30% der Breite nutzen */
    margin-left: auto;
    margin-right: auto;

    background-color: #bfeeb3;
    padding: 5px 20px 5px 20px;
    font-size: larger;
}





#navigation{


}


#navigation li {
    display: inline;       /* li nebeneinander anzeigen (Menï¿½punkte) */
    list-style-type: none; /* ohne Aufzï¿½hlungspunkte */

    margin-left: auto;   /* zentrieren */
    margin-right: auto;
}









html>body .gwt-MenuBarPopup {
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
    width: 5px;
    height: 5px;
    overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
    width: 8px;
    height: 5px;
    overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
    width: 5px;
    height: 8px;
    overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
    width: 8px;
    height: 8px;
    overflow: hidden;
}