
h1{

    font-weight: bold; 		/*Überschriften fett */
    color: blue;             /*Farbe der ï¿½berschrift blau*/
    text-aligin: center; 	/*ï¿½berschriften zentreiren*/
    font-family: Verdana;
}

/* CSS CELL KLASSEN */

.ProjektMarktplatz-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    font-color: blue; 
    font-size: 18px; 
}

.Eigenschaft-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    font-color: blue; 
    font-size: 18px; 
}

.Ausschreibung-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    font-color: blue; 
    font-size: 18px; 
}

.Partnerprofil-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    font-color: blue; 
    font-size: 18px; 
}

.Projekt-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    font-color: blue; 
    font-size: 18px; 
}

.Projektleiter-Cell{
	font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    font-color: blue; 
    font-size: 18px; 
}


/*  TEXT  */ 

.myprojekt-headline{
    font-weight: bold; 		/*ï¿½berschriften fett */
    font-family: Verdana;
    color: blue;             /*Farbe der ï¿½berschrift blau*/
    text-aligin: center; 	/*ï¿½berschriften zentreiren*/

	font-weight: bold; 		/*ï¿½berschriften fett */ 
	color: blue;             /*Farbe der ï¿½berschrift blau*/
	text-aligin: center; 	/*ï¿½berschriften zentreiren*/ 
}

.myprojekt-headline{
	font-weight: bold; 		/*ï¿½berschriften fett */ 
	font-family: Verdana;
	color: blue;             /*Farbe der ï¿½berschrift blau*/
	text-aligin: center; 	/*ï¿½berschriften zentreiren*/ 
}

.loginHeader{
	font-weight: bold; 		/*ï¿½berschriften fett */ 
	font-family: Verdana;
	color: blue;             /*Farbe der ï¿½berschrift blau*/
	text-aligin: center; 	/*ï¿½berschriften zentreiren*/ 

}

.myprojekt-simpletext{
	font-family: Verdana;
}

/* TEXTFELD */ 

.myproject-textfield{
	font-family: Verdana;
}


/* BUTTONS */ 

.myprojekt-button{
    font-family: Verdana;
    background-color: #008CBA;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}

.myprojekt-button:active {
    position: relative;
    top: 2px;
}

.myprojekt-button:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
    font-size:25px; 
}


.myprojekt-menubutton{
    font-family: Verdana;
    background-color: #008CBA;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


}

.myprojekt-menubutton:active{
    position: relative;
    top: 2px;
}

.myprojekt-menubutton:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
}

.myprojekt-abmeldebutton{
	font-family: Verdana;
    background-color: red;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.myprojekt-abmeldebutton:active{
    position: relative;
    top: 2px;
}

.myprojekt-abmeldebutton:hover{
    background-color: #5fb3ba; /* blau */
    color: white;
}

/* LABEL  */ 

.myprojekt-label{
	font-family: Verdana;
}

.myprojekt-ListBox {
	font-family: Verdana;
	font-size: 15px; 
	
	
}

div#main {
    margin: 10px;
    border: 1px dashed #000;
    width: auto;
}

div#header {
    margin: 5px;
    border: 1px dashed #000;
    height: 60px;
}
div#header img {
    float: left;
    height: 60px;
}
div#header p {
    float: left;
    margin-top: 12px;
    margin-right: 12px;
    align: right;
}
div#menu {
    margin: 5px;
    border: 1px dashed #000;
}
div#pminfo {
    margin: 5px;
    border: 1px dashed #000;
}
div#content {
    margin: 5px;
    border: 1px dashed #000;
}
div#footer {
    margin: 5px;
    padding: 10px;
    border: 1px dashed #000;
}

.sitename{
    padding: 5px;
    float: left;    /* nach links rï¿½cken  */
    width: 5%;     /* 5% der Breite nutzen */
    margin-left: auto;
    margin-right: auto;
    display: flex;

    background-color: #bfeeb3;
    padding: 5px 20px 5px 20px;
    font-size: larger;
}


.menue{
    padding: 2px;
    float: left;    /* nach links rï¿½cken  */
    width: 30%;     /* 30% der Breite nutzen */
    margin-left: auto;
    margin-right: auto;

    background-color: #bfeeb3;
    padding: 5px 20px 5px 20px;
    font-size: larger;
}





#navigation{


}


#navigation li {
    display: inline;       /* li nebeneinander anzeigen (Menï¿½punkte) */
    list-style-type: none; /* ohne Aufzï¿½hlungspunkte */

    margin-left: auto;   /* zentrieren */
    margin-right: auto;
}


/*
.gwt-MenuBar {
    cursor: default;
}
.gwt-MenuBar .gwt-MenuItem {
    cursor: default;
    font-family: Arial Unicode MS, Arial, sans-serif;
}
.gwt-MenuBar .gwt-MenuItem-selected {
    background: #E3E8F3;
}
.gwt-MenuBar-horizontal {
    background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
    border: 1px solid #e0e0e0;
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
    padding: 5px 10px;
    vertical-align: bottom;
    color: #000;
    font-weight: bold;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
    width: 1px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-left: 1px solid #ccc;
    background: white;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
    width: 1px;
    height: 1px;
    background: white;
}
.gwt-MenuBar-vertical {
    margin-top: 0px;
    margin-left: 0px;
    background: white;
}
.gwt-MenuBar-vertical table {
    border-collapse: collapse;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
    padding: 2px 40px 2px 1px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
    padding: 2px 0px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
    height: 1px;
    padding: 0px;
    border: 0px;
    border-top: 1px solid #ccc;
    overflow: hidden;
}
.gwt-MenuBar-vertical .subMenuIcon {
    padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
    background: #E3E8F3;
}
.gwt-MenuBarPopup {
    margin: 0px 0px 0px 3px;
}
.gwt-MenuBarPopup .menuPopupTopCenter {
    background: url(images/hborder.png) 0px -12px repeat-x;
}
.gwt-MenuBarPopup .menuPopupBottomCenter {
    background: url(images/hborder.png) 0px -13px repeat-x;
    -background: url(images/hborder_ie6.png) 0px -13px repeat-x;
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
    background: url(images/vborder.png) -12px 0px repeat-y;
    -background: url(images/vborder_ie6.png) -12px 0px repeat-y;
}
.gwt-MenuBarPopup .menuPopupMiddleRight {
    background: url(images/vborder.png) -13px 0px repeat-y;
    -background: url(images/vborder_ie6.png) -13px 0px repeat-y;
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
    width: 5px;
    height: 5px;
    zoom: 1;
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
    width: 8px;
    height: 5px;
    zoom: 1;
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
    width: 5px;
    height: 8px;
    zoom: 1;
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
    width: 8px;
    height: 8px;
    zoom: 1;
}
.gwt-MenuBarPopup .menuPopupTopLeft {
    background: url(images/corner.png) no-repeat 0px -36px;
    -background: url(images/corner_ie6.png) no-repeat 0px -36px;
}
.gwt-MenuBarPopup .menuPopupTopRight {
    background: url(images/corner.png) no-repeat -5px -36px;
    -background: url(images/corner_ie6.png) no-repeat -5px -36px;
}
.gwt-MenuBarPopup .menuPopupBottomLeft {
    background: url(images/corner.png) no-repeat 0px -41px;
    -background: url(images/corner_ie6.png) no-repeat 0px -41px;
}
.gwt-MenuBarPopup .menuPopupBottomRight {
    background: url(images/corner.png) no-repeat -5px -41px;
    -background: url(images/corner_ie6.png) no-repeat -5px -41px;
}

*/ 


html>body .gwt-MenuBarPopup {
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
    width: 5px;
    height: 5px;
    overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
    width: 8px;
    height: 5px;
    overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
    width: 5px;
    height: 8px;
    overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
    width: 8px;
    height: 8px;
    overflow: hidden;
}